---
layout: default
---

<div class="home">

  <h1 class="page-heading">Historia wpisów</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d-%m-%Y" }} • {{ post.author }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subskrybuj <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
 {% if site.disqus %}
  {% include disqus_comments.html %}
 {% endif %}
  <script id="dsq-count-scr" src="//whyr.disqus.com/count.js" async></script>

</div>
